---
import Layout from "../components/Layout.astro"

const posts = await Astro.glob("./blogs/*.md")
const sortedPosts = posts.sort(
	(a, b) => Date.parse(a.frontmatter.date) - Date.parse(b.frontmatter.date)
)
---

<Layout
	title="Home"
	description="Hi, I am Dipshan & I have decided to start 30 Days of CLG Askmitra to deep dive into JavaScript and go under the hood of some of the most important aspects of JavaScript!"
>
	<h1>30 Days of CLG Askmitra</h1>

	<p>
		Hi, I am Dipshan & I have decided to start 30 Days of CLG Askmitra to
		deep dive into JavaScript and go under the hood of some of the most
		important aspects of JavaScript!
	</p>

	<h2>My Journey</h2>

	<ol>
		{
			sortedPosts.map(post => (
				<li>
					<h3 class="not-prose">
						<a
							href={post.url}
							class="hover:underline underline-offset-4"
						>
							{post.frontmatter.title}
						</a>
					</h3>
					<ul>
						{post
							.getHeadings()
							.filter(heading => heading.depth > 1)
							.map(heading => (
								<li>
									<a href={`${post.url}#${heading.slug}`}>
										{heading.text}
									</a>
								</li>
							))}
					</ul>
				</li>
			))
		}
	</ol>
</Layout>
