---
import Header from "../components/Header.astro"

const { frontmatter } = Astro.props
let { title, description } = frontmatter || Astro.props
title += " | 30 days of CLG Askmitra | Dipshan Adhikari"

const socialImageURL = new URL("/images/preview.PNG", Astro.url)
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>

		<!-- Meta Tags -->
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Dipshan Adhikari" />
		<meta name="description" content={description} />

		<!-- Open Graph -->
		<meta property="og:type" content="article" />
		<meta property="og:title" content={title} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content={socialImageURL} />

		<!-- Twitter summary card -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:site" content="@dipshanadh" />
		<meta name="twitter:image" content={socialImageURL} />
	</head>
	<body class="bg-background text-text text-lg">
		<Header />
		<main class="px-5 py-16">
			<article
				class="prose mx-auto md:prose-lg lg:prose-xl prose-invert max-w-screen-lg prose-a:text-secondary prose-blockquote:border-l-primary prose-blockquote:bg-muted prose-blockquote:py-[1px] prose-blockquote:pr-5 prose-code:text-primary prose-code:font-normal prose-img:rounded-sm"
			>
				<slot />
			</article>
		</main>
	</body>
</html>
